<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="Flight Number">
    <th mat-header-cell *matHeaderCellDef> Flight Number </th>
    <td mat-cell *matCellDef="let element"> {{element.flightNumber}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Mission Name">
    <th mat-header-cell *matHeaderCellDef> Mission Name </th>
    <td mat-cell *matCellDef="let element"> {{element.missionName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Lounch Year">
    <th mat-header-cell *matHeaderCellDef> Lounch Year </th>
    <td mat-cell *matCellDef="let element"> {{element.lounchYear}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Rocket Name">
    <th mat-header-cell *matHeaderCellDef> Rocket Name </th>
    <td mat-cell *matCellDef="let element"> {{element.rocketName}} </td>
  </ng-container>

  <ng-container matColumnDef="crew">
    <th mat-header-cell *matHeaderCellDef> crew </th>
    <td mat-cell *matCellDef="let element"> {{element.crew}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

